.product .product__content .form__row>div:not(.hidden) {
    float: none;
    display: inline-table;
    padding-bottom: 15px;
}

.btn {
    background-color: gray;
    color: white;
}

.single-option-selector {
    font-size: 20px;

}

.home-page button {

    width: 220px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5;
    color: black;
    background-color: white;
    border-color: black;
}

.home-page button:hover {
    background-color: black;
    color: white;
}

.home-pag button {

    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5;
    color: black;
    background-color: white;
}

.home-pag button:hover {
    background-color: black;
    color: white;
}

button:hover {
    font-size: 20px;
}



.vcc {
    display: flex;
}

.tt {
    text-align: left;
    padding: 90px;
    padding-top: 98px;
}